<h1>Liquid App</h1>
<p>Hi <%= @user.name %></p>
<p>Please click the link below to activate your account at Liquid App</p>
<% url = edit_account_activation_url(@user.activation_token, email: @user.email) %>
<%= link_to url, url %>
